<div class="hero-unit">
  <h1>Welcome to bookeeper!</h1>
  <br>
  <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
  <br>
  <p>
    <% if user_signed_in? %>
      <%= link_to "Add transaction", new_transaction_path, :class => "btn btn-primary btn-large" %>
    <% else %>
      <%= link_to "Sign in", new_user_session_path, :class => "btn btn-primary btn-large" %>
      <%= link_to "Sign in with Google", user_omniauth_authorize_path(:google_oauth2), :class => "btn btn-primary btn-large" %>
    <% end %>
  </p>
</div>
