<h1>Balance Sheet</h1>
<table class="table">
  <tr>
    <th colspan="2">Assets</th>
    <th colspan="2">Liabilities and Owners' Equity</th>
  </tr>
  <tr>
    <td>TOTAL</td>
    <td><strong><%= @assets %> €</strong></td>
    <td>TOTAL</td>
    <td><strong><%= @other %> €</strong></td>
  </tr>
</table>
